<%- include('partials/header') %>


<!-- <div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-video fa-5x"></i>
    <h1 class="display-3">Boom</h1>
    <p class="lead">Go far with video call</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div> -->

<body>
    <section id="logo">
        <div class="container-fluid bar">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
            <a class="navbar-brand" href="/login">Videooz</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse" >

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#features" class="nav-link">Features</a>
                    </li>
                    <li class="nav-item">
                        <a href="#pricing" class="nav-link">Pricing</a>
                    </li>

                    <li class="nav-item">
                        <a href="#footer-section" class="nav-link">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
        </div>
    </section>
<!-- <h2 class="carousal-text">Get started with Breeze  </h2> -->

    <section id="info" class="white-section">
      <center>
      <h2 class="carousal-text">Videooz</h2>
      </center>
        <div id="first-carousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
            <!-- <h2 class="carousal-text">Get started with Breeze  </h2> -->
                <div class="carousel-item active" >
                  <center>
                    <h2 class="carousal-text">Connect the World with Videooz</h2>

                      </center>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- <form action="register.ejs"><button  class="btn btn-primary btn-lg entry-button">Register</button></form>
                            <form action="login.ejs"><button  class="btn btn-dark btn-lg entry-button">Login</button></form> -->



                        </div>
                    </div>

                </div>

                <div class="carousel-item " >
                    <h2 class="carousal-text">Ready to take up online classes?</h2>
                    <h3>Enjoy high quality streaming for efficient learning.</h3>
                </div>

                <div class="carousel-item " >
                    <h2 class="carousal-text">Take your physical events virtually</h2>
                    <h3>Hold conferences, webinars, training sessions over Breeze.</h3>
                </div>
            </div>
            <a class="carousel-control-prev " href="#first-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="hidden"></span>
            </a>
            <a class="carousel-control-next " href="#first-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="hidden"></span>
            </a>
        </div>

    </section>
    <section class="good">
      <div class="best">
        <center>
        <a class="btn btn-primary btn-lg btn-lg" href="/register" role="button"><h3>Register</h3></a>
        <a class="btn btn-dark btn-lg btn-lg" href="/login" role="button"><h3>Login</h3></a>
        </center>
      </div>
    </section>




    <section id="features">

        <div class="row">
            <div class="col-lg-4 col-md-4">

                <i class="icons fas fa-video fa-3x"></i>
                <h3 style="color:white;">Meetings</h3>
                <p style="color:white;" class="">Online meetings,Training and technical support </p>
            </div>
            <div class="col-lg-4 col-md-4 ">
                <i class="icons fas fa-phone-alt fa-3x"></i>
                <h3 style="color:white;">Phone System</h3>
                <p style="color:white;" class="">The next generation enterprise phone system </p>
            </div>
            <div class="col-lg-4 col-md-4">
                <i class="icons fas fa-comments fa-3x"></i>
                <h3 style="color:white;">Chats</h3>
                <p style="color:white;" class="">Effective chat rooms with smart audio </p>
            </div>

        </div>

    </section>
    <hr>

    <section class="white-secion" id="pricing">

        <h2 style="color:white;" class="section-heading">A Plan To suit your Needs</h2>
        <p style="color:white;">Simple and affordable price plans for your.</p>
        <div class="row">
          <div class="pricing-column col-lg-4 col-md-6">
            <div class="card">
              <div class="card-header">
                <h2>Basic</h2>
              </div>
              <div class="card-body">
                <h2 class="price-text">Free</h2>
                <p>5 Meetings Per Day</p>
                <p>200 Messages Per Day</p>
                <p>12 Calls Per Day </p>

              </div>
            </div>
          </div>
          <div class=" pricing-column col-lg-4 col-md-6">
            <div class="card">
              <div class="card-header">
                <h2>Storm</h2>
              </div>
              <div class="card-body">
                <h2 class="price-text">$4 / mo</h2>
                <p>12 Meetings Per Day</p>
                <p>500 Messages Per Day</p>
                <p>50 Calls Per Day</p>

              </div>
            </div>
          </div>
          <div class="pricing-column col-lg-4">
            <div class="card">
              <div class="card-header">
                <h2>Blaze</h2>
              </div>
              <div class="card-body">
                <h2 class="price-text">$10 / mo</h2>
                <p>Unlimited Meetings Per Day</p>
                <p>Unlimited Messages Per Day</p>
                <p>Unlimited Calls Per day</p>

              </div>
            </div>
          </div>
         </div>
      </section>
    <section class="foot" id="footer-section">
        <footer class="bg-dark text-white">
            <div class="container py-4">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                        <h4>About Us</h4>
                        <p>A Video-call company based in Bangalore.Using WEBRTC we are connecting various browsers all at once.</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                        <h4>Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Home</a></li>
                            <li><a href="">Services</a></li>
                            <li><a href="">Contact</a></li>

                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                        <h4>Contact Us At</h4>
                        <p>
                            <address>#2000 8th Main Rajajinagar,Bangalore-560010</address>
                            Phone: +91-9900001256<br>
                            Email: <a href="mailto:test@abc.com">test@abc.com</a>
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                        <h4>Newsletters</h4>
                        <p>Enter your email address: </p>
                        <form  action="">
                            <div class="input-group">
                                <input type="email" name="mail" id="" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </div>

                        </form>
                    </div>


                </div>
            </div>
            <div class="container icons">
                <a href="https://twitter.com"><i class="fab fa-twitter footer-icons fa-1x"></i></a>
                <a href="https://facebook.com"><i class="fab fa-facebook-f footer-icons fa-1x"></i></a>
                <a href="https://instagram.com"><i class="fab fa-instagram footer-icons fa-1x"></i></a>
                <a href="https://gmail.com"><i class="fas fa-envelope footer-icons fa-1x"></i></a>
            </div>

        </footer>

        <div class="container-fluid text-center bg-dark text-muted">
            &copy;2020 Copyright: Breeze.com
        </div>
       </section>

<%- include('partials/footer') %>
