<%- include('partials/header') %>



  <section id="info">
    <center>
      <i class="fas fa-video fa-5x"></i>
      <h2 class="carousal-text">Videooz</h2>

      </center>
<div class="centered">




  <h3 class="carousel-item">Go far with video call</h3>

  <div class="container">



  </div>



</div>
</section>

<section class="good">
  <div class="best">
    <center>
      <a class="btn btn-primary btn-lg" href="/tab" role="button"><h2>Create Room</h2></a>
      <a class="btn btn-dark btn-lg" href="/joins" role="button"><h2>Join Room</h2></a>
      </center>
  </div>
</section>







<section id="features">

    <div class="row">
        <div class="col-lg-4 col-md-4">

            <i class="icons fas fa-video fa-3x"></i>
            <h3 style="color:white;">Meetings</h3>
            <p style="color:white;" class="">Online meetings,Training and technical support </p>
        </div>
        <div class="col-lg-4 col-md-4 ">
            <i class="icons fas fa-phone-alt fa-3x"></i>
            <h3 style="color:white;">Phone System</h3>
            <p class="" style="color:white;" >The next generation enterprise phone system </p>
        </div>
        <div class="col-lg-4 col-md-4">
            <i class="icons fas fa-comments fa-3x"></i>
            <h3 style="color:white;">Chats</h3>
            <p style="color:white;" class="">Effective chat rooms with smart audio </p>
        </div>

    </div>

</section>

<%- include('partials/footer') %>
