<%- include('partials/header') %>
<!-- <div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <!-- <form action="/register" method="POST">
            <div class="form-group">
              <label for="name">First Name</label>
              <input type="name" class="form-control" name="firstName">
            </div>
            <div class="form-group">
              <label for="name">Last Name</label>
              <input type="name" class="form-control" name="lastName">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
            <div class="reg">
              <h4>Already have an account?</h4>
              <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
        <div class="card-body">
          <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign Up with Facebook
          </a>
        </div>
      </div>
    </div>

  </div> -->
<!-- </div> -->

<body>
  <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="L9hXqHsC"></script>
    <section id="logo">
        <div class="container-fluid bar">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
            <a class="navbar-brand" href="/home">Videooz</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse" >

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#features" class="nav-link">Features</a>
                    </li>
                    <li class="nav-item">
                        <a href="#boot" class="nav-link">Pricing</a>
                    </li>

                    <li class="nav-item">
                        <a href="#boot" class="nav-link">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
        </div>
    </section>
   <section id="image">
      <div class="container" >
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12"></div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <form class="form-container" action="/register" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">First Name</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="FirstName" name="firstName">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Last Name</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="LastName" name="lastName">
                  </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email </label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address" name="username">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                    </div>
                    <!-- <div class="form-group form-check"> -->
                      <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
                      <!-- <label class="form-check-label" for="exampleCheck1">Remember me</label> -->
                    <!-- </div> -->
                    <!-- <form action="/register" method="POST"> -->
                    <button type="submit" class="btn  btn-block btn-primary">Signup</button>
                      </form>

                      <a class="loginBtn loginBtn--facebook mate btn btn-block btn-social btn-facebook" href="/auth/facebook" role="button" >
                        Login with Facebook
                    </a>
                    <a class="loginBtn loginBtn--google mate btn btn-block btn-social btn-facebook" href="/auth/google" role="button" >
                      Login with Google
                  </a>

                      <!-- <button class="loginBtn loginBtn--google mate" formaction="/auth/google" action="GET">
                          Login with Google
                      </button> -->




                      <!-- </form> -->



          <div class="col-md-4 col-sm-12 col-xs-12"></div>

          </div>
            </div>
      </div>
      <!-- <section>
        <html>
  <head>
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  </head>
  <body>
    <div id="my-signin2"></div>
    <script>
      function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
      }
      function onFailure(error) {
        console.log(error);
      }
      function renderButton() {
        gapi.signin2.render('my-signin2', {
          'scope': 'profile email',
          'width': 240,
          'height': 50,
          'longtitle': true,
          'theme': 'dark',
          'onsuccess': onSuccess,
          'onfailure': onFailure
        });
      }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
  </body>
  </html> -->
      <!-- </section> -->

   </section>
   <section class="foot" id="boot">
    <footer class="bg-dark text-white">
        <div class="container py-4">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <h4>About Us</h4>
                    <p>A Video-call company based in Bangalore.Using WEBRTC we are connecting various browsers all at once.</p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <h4>Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Home</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Contact</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <h4>Contact Us At</h4>
                    <p>
                        <address>#2000 8th Main Rajajinagar,Bangalore-560010</address>
                        Phone: +91-9900001256<br>
                        Email: <a href="mailto:test@abc.com">test@abc.com</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
                    <h4>Newsletters</h4>
                    <p>Enter your email address: </p>
                    <form  action="">
                        <div class="input-group">
                            <input type="email" name="mail" id="" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>


            </div>
        </div>
        <div class="container icons">
            <a href="https://twitter.com"><i class="fab fa-twitter footer-icons fa-1x"></i></a>
            <a href="https://facebook.com"><i class="fab fa-facebook-f footer-icons fa-1x"></i></a>
            <a href="https://instagram.com"><i class="fab fa-instagram footer-icons fa-1x"></i></a>
            <a href="https://gmail.com"><i class="fas fa-envelope footer-icons fa-1x"></i></a>
        </div>

    </footer>

    <div class="container-fluid text-center bg-dark text-muted">
        &copy;2020 Copyright: Videooz.com
    </div>
   </section>




<%- include('partials/header') %>
